header{
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
    
}



nav{
    text-align: right;

}

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}

a::before {
    content: "";
    background-color: #7C5E99;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button{
    display: inline-block;
    background-color: #7C5E99;
    padding:18px 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
    transition: transform 110ms linear;
}

#button:hover {
    background-color: #000;
    transform: scale(1.1);
    
}

#box {
   
}
