header{
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
    
}



nav{
    text-align: right;

}

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}

a::before {
    content: "";
    background-color: #7C5E99;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button{
    display: inline-block;
    background-color: #7C5E99;
    padding:18px 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
    transition: transform 110ms linear;
}

#button:hover {
    background-color: #000;
    transform: scale(1.1);
    
}

#land{
    background-image: url(../assets/img/code.jpg);
    /* background-size: 100% 100%; */
    background-size: cover;
    /* width: auto; */
    height: 797px;
}

#me {
    display: block;
    background-color: #3A4042;
    width: 627px;
    height: 184px;
    position: absolute;
    top: 212px;
    left: 92px;
    box-shadow: 10px 10px 0 #000000;
}

#name {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #FFF;
    padding-left: 90px;
    padding-right: 97px;
    padding-top: 42px;
    text-shadow: 4px 4px 0 #000000;
}

#job{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: #7C5E99;
    padding-top: 27px;
    padding-left: 110px;
    padding-bottom: 45px;
    padding-right: 127px;
    text-shadow: 4px 4px 0 #000000;
}

.landbtn {
    display: inline-block;
    position: relative;
    font-size: 20px;
    background-color: #7C5E99;
    padding:17px 18px 17.43px 20px;
    box-shadow: 5px 5px 0 #000000;
    transition: transform 110ms linear;
    margin-right: 112px;
}