.button{
    display: inline-block;
    background-color: #7C5E99;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding:18px 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
    transition: transform 110ms linear;
}

.button:hover {
    background-color: #000;
    transform: scale(1.1);
    
}