.progress-bar {
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: #FFF;
    border: 5px solid #000;
    height: 40px;
    box-sizing: border-box;
}

.progress-bar::-webkit-progress-value {
     background-color: #7C5E99;
}