.main-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #FFF;
    text-shadow: 4px 4px 0 #000000;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;

}